# CodeceptJS Output
output/*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# macos directory metadata
.DS_Store

# VSCode Settings
.vscode

# Reporter
allure*

# files from Webstorm IDE
.idea

# vscode workspace settings
*.code-workspace

#Dist files
dist
